<div id="profile">
  <mat-card id="profile-card">
    <div id="image-section">
      <div class="image-shape"></div>
    </div>
    <hr />
    <div id="menu-section"></div>
  </mat-card>
  <mat-card id="user-chat-menu">
    Active
    <div id="user-status-list">
      <div id="one-avatar-container" *ngFor="let user of users">
        <div id="image-shape-status"></div>
        <div class="{{ user.isActive ? 'status-green' : 'status-red' }}"></div>
      </div>
    </div>
    <div id="input_container">
      <input type="text" id="input" placeholder="Search For User" />
      <i class="fas fa-search icon-place"></i>
    </div>
    <div id="chat-history-section" class="custom-scroll-bar">
      <mat-card
        class="one-person-card"
        *ngFor="let user of users"
        (click)="selectedChat(user)"
      >
        <div id="item-person-image">
          <div class="image-shape-status"></div>
        </div>
        <div id="item-person-details" style="display: row;">
          <div
            id="name-status-container"
            style="display: flex; flex-direction: column; margin: 5px;"
          >
            <span
              ><h4>{{ user.name }}</h4></span
            >
            <span
              ><h6>{{ user.status }}</h6></span
            >
          </div>

          <div
            id="online-pinned-container"
            style="display: flex; flex-direction: column; margin: 5px;"
          >
            <div
              class="{{ user.isActive ? 'status-green' : 'status-red' }}"
            ></div>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-card>
  <mat-card id="chatting-card">
    <div id="chat-header" *ngIf="currentChating!!">
      <mat-card class="one-person-card">
        <div id="item-person-image">
          <div class="image-shape-status"></div>
        </div>
        <div id="item-person-details" style="display: row;">
          <div
            id="name-status-container"
            style="display: flex; flex-direction: column; margin: 5px;"
          >
            <span
              ><h4>{{ currentChating.userId }}</h4></span
            >
            <span
              ><h6>{{ currentChating.status }}</h6></span
            >
          </div>

          <div
            id="online-pinned-container"
            style="display: flex; flex-direction: column; margin: 5px;"
          >
            <div
              class="{{
                currentChating.isActive ? 'status-green' : 'status-red'
              }}"
            ></div>
          </div>
        </div>
      </mat-card>
      <div id="chat-screen">
        <mat-card style="height: 24rem;">
          <!---->
          <div class="chat-panel">
            <div class="row no-gutters" *ngFor="let message of messages">
              <div
                *ngIf="
                  (message.sender === currentChating.userId &&
                    message.receiver === loginUser.userId) ||
                  (message.sender === loginUser.userId &&
                    message.receiver === currentChating.userId)
                "
                class="{{
                  message.sender === currentChating.userId
                    ? 'col-md-3'
                    : message.sender === loginUser.userId
                    ? 'col-md-3 offset-md-9'
                    : ''
                }} "
              >
                <div
                  class="{{
                    message.sender === currentChating.userId
                      ? 'chat-bubble--left chat-bubble'
                      : message.sender === loginUser.userId
                      ? 'chat-bubble--right  chat-bubble'
                      : ''
                  }} "
                >
                  {{ message.message }}
                </div>
              </div>
            </div>
          </div>

          <!---->
        </mat-card>
      </div>
      <div id="chat-input" style="display: flex;">
        <mat-form-field appearance="legacy" style="width: 100%;">
          <mat-label>Enter Message</mat-label>
          <input matInput />
        </mat-form-field>
        <!-- <mat-card style="width: 100%;"> </mat-card> -->
        <div id="chat-button" style="display: flex;">
          <i class="fas fa-2x fa-paperclip icon-button-margin"></i>
          <i class="fas fa-2x fa-surprise icon-button-margin"></i>
          <i class="fas fa-2x fa-paper-plane icon-button-margin"></i>
        </div>
      </div>
    </div>
    <div
      *ngIf="!currentChating!!"
      style="text-align: center; margin: 20px auto;"
    >
      Select User to chat
      <div id="image-section">
        <div class="image-shape"></div>
      </div>
    </div>
  </mat-card>
</div>
